<ul id="navigation">

<!--
  {% for page in site.pages %}
    <li><a href="{{ page.url }}">{{ page.title }}</a></li>
  {% endfor %}
-->

    <li><a href="/">Save the Date</a></li>
    <li><a href="/transport.html">Getting there</a></li>
    <li><a href="/accomodation.html">Accommodation</a></li>
    <li><a href="/location.html">Location</a></li>
    <li><a href="/engagement.html">Engagement</a></li>
    <li><a style="font-weight: bold" href="/rsvp.html">RSVP</a></li>

</ul>

<br style="clear: both" />