---
---

body{
  line-height: 1.5em; 
  margin-bottom: 100px;
  font-family: georgia, serif;
  font-size: 0.9em;
  color: #333;
}

$orange: #f70;

 
h1,h2,h3,h4,h5{
  font-family: "AmericanTypewriter-Condensed", fixed;
  margin-top: 30px;
  text-transform: uppercase;
}

a{
  color: $orange;
}

h1{
  font-size: 1.5em;
}

h2{
  font-size: 1.2em;
}

h3{
  font-size: 1em;
}

body{
  background: linear-gradient(#eee 0, #ddd 400px);
  background-color: #ddd;
  background-repeat: repeat-x;
}

section{
  h1,h2,h3{
    border-bottom: 1px solid #f70;
    display: inline-block;
    font-weight: normal;
  }
}

*{
  box-sizing:border-box;
}

img{
  max-width: 100%;
  display: block;
}

#wrapper{
  background: white;
  padding: 20px;
  border-radius: 2px;
  max-width: 500px;
  margin: 40px auto 40px auto;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
}

header{
  text-align: center;
  margin: 0;
  padding-bottom: 0px;

  h1{
    margin: 30px 0 10px 0;
    a{
      color: inherit;
      text-decoration: none;
    }
  }

  h3{
    font-size: 1em;
    margin: 0 0 20px 0;
    color: #555;
    font-weight: normal;
  }
}

#navigation{
  margin: 0;
  padding: 0;
  border-top: 1px solid $orange;

  *{
    margin: 0;
    padding: 0;
  }

  li{
    display: block;
    list-style: none;
    float: left;
  }

  li:nth-child(1), li:nth-child(2), li:nth-child(3){
    width: 33.3%;
  }

  li:nth-child(4), li:nth-child(5), li:nth-child(6){
    width: 33.3%;
  }

  a{
    font-family: "AmericanTypewriter-Condensed", fixed;
    text-transform: uppercase;
    border-bottom: 1px solid $orange;
    text-decoration: none;
    color: #555;
    display: block;
    text-align: center;
  }

  a:hover, .active{
    background: $orange;
    color: black;
  }

}
