<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>Ben and Rissa - {{ page.title }}</title>
    <link rel="stylesheet" href="./stylesheets/reset.css" />
    <link rel="stylesheet" href="./stylesheets/text.css" />
    <link rel="stylesheet" href="./stylesheets/wedding.css" />
  </head>
  <body>
    <div id="wrapper">
      <header> 
        <h1 style="font-size: 4em; color: #f70">&hearts;</h1>
        <h1><a href="/">Rissa and Bens Wedding</a></h1>
        <h3>7th February, North Stradbroke Island, Brisbane</h3>
      </header>

      {% include navigation.html %}

      <section>
        {{ content }}
      </section>
    </div>
</html>
